body{
    background-color: whitesmoke;
    font-weight: 200;
}
header{
    font-size: large;
    display: flex;
    border: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;


    
}
header div{
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    font-size: 20px;
    
    
    
}
nav ul{
    list-style: none;
    display: flex;
    margin-left: 700px;
    padding: 15px, 10px;
    font-size: small;
    gap: 40px;
    padding-left: 400pxs;
    border: 100px;
    border-radius: 10px;
}
.imagecode{
    width: 50pxs;
    height: 100pxs;
    object-fit: fill;
}
section {
    display: flex;
    gap: 50pxs;
    border-bottom: 20px;
    border-radius: 20px;
}
.teamsection li{
    display: flex;
    padding-top: 20px;
    gap: 20px;

}

.teamsection ul li{
    height: 10px;
    width: 10px;
    -o-object-fit: contain;
}
.teamsection li .col1{
    height: 10px;
    width: 10px;
}
.col1 + img{
    height: 10px;
    width: 10px;

}
.icons{
    display: flex;
    gap: 15px;
    list-style: none;
}
footer{
    background-color: blue;
    margin-top: 30px;
    border-radius: 10px;
    padding
}